h1{
    text-align: center;
}

#page-header{
    color: rgb(83, 134, 243);
    padding: 20px;
    height: 150px;
}

body{
    background-color: rgb(255, 193, 138);
}

img {
    height:300px;
    margin:10px;
}

/* .container{
    background-color:tomato;
    margin:15px;
} */

button {
    margin: 20px;
}

.container-float {
    height: 100px;
    background-color: rgb(248, 47, 148);
    padding:10px;
    margin: 20px;
    letter-spacing: 4px;
}

.col-md-4{
    margin-top:10px;

}

#yirgyDesc {
    height: 300px;
    width: 300px;
    background-color: tomato;
    color: white;
}